@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    University Of River Falls Wisconsin
</address>

<p>If you wish to contact our development team:</p>
<p>alex.hamus@my.uwrf.edu</p>
<p>rachel.hedin@my.uwrf.edu</p>
<p>alexander.holmquist@my.uwrf.edu</p>