@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Pokemon Card Collection</h1>
    <p class="lead">You can add your personal Collection of Cards and Share it with people.</p>
</div>

<h3>Enjoy your card collection in a few steps: </h3>
<ol class="round">
    <li>
        <h5>How to add Cards</h5>
        Register for free or login directly if you have an account to add your cards.
    </li>
    <li>
        <h5>Add Cards</h5>
        Go to the create page to add to your card collection.
    <li>
        <h5>Search Cards</h5>
        Find a Card in your collection by using the serach function
    </li>
</ol>